* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

/* Thanks, https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
}

.column3 {
  float: left;
  width: 67%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #0047AB;
  color: #fff;
  padding: 15px;
}

main {
  background-color: white;
  color: black;
  word-spacing: 0.25em;
  line-height: 20px;
}

header {
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 90px;
  padding-bottom: 10px;
}

.header {
  text-align: center;
}

h2 {
  text-align: center;
}

h2 a {
  line-height: 1.5em;
  color: white;
}

h2 a:hover {
  color: rgb(0, 0, 0);  
}

h3 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

h4 {
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
  display: block;
  background-color: #FFFFFF;
  padding: 15px;
}

h5 {
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
  background-color: #0047AB;
  color: #FFFFFF;
  padding: 20px;
}

footer {
  background-color: #0047AB;
  color: #FFFFFF;
}

footer a:hover {
  color: black;
}

ul {
  text-align: left;
  margin: 30px;
}

search {
  font-size: 17px;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
}

img {
  max-width: 810px;
}
